.errorMessage{
  color: red;
}
#welcomePage{
  position:fixed;
  top: 40%;
  left: 50%;
  transform:translate(-50%, -50%);
  border: 1px solid black;
  padding: 2em 3em;
  width: 40em;
  max-width: calc(95vw - 2em);
  max-height: calc(95vh - 2em);
}
#welcomePage button, .playButton{
  display:block;
  height: 2em;
  width:100%;
  font-size: 1.4em;
  font-weight: 600;
}
#welcomePage input, #privateRoom{
  box-sizing: border-box;
  display:block;
  width:100%;
  height: 2em;
  font-size: 1.2em;
  text-align: center;
} 

.gameModes{
  margin-top:1em;
  display:flex; 
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.gameMode{
  width: 60em;
  border: 1px solid black;
  border-radius: .25em;
  padding: 1em;
  margin-bottom: 1em;
  max-width: calc(95vw - 2em);

}
.gameMode h2{
  margin-top: 0em;
  display:inline-block;
  border-bottom: 1px solid black;
}
.underline{
  text-decoration: underline;
}
.privateGameForm{
  display:flex;
  flex-direction: column;
}
.word{
  display:inline-block;
  padding:4px;
}

.completedWord{
  color:greenyellow
}

.currentWord{
  border-bottom: 1px dotted black;
}

.players{
  display:flex;
}
.players h2{
  font-size: 2em;
  margin:0;
}
.playerOne, .playerTwo{
  flex-grow: 1;
}
.playerTwo{
  border-left: 1px solid black;
}
.playerStatistics{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
.playerStatistics span{
  margin: 1em;
}
.versus{
  position:absolute;
  background: white;
  color: crimson;
  font-size: 3em;
  font-weight: 500;
  margin-left: -.56em;

}
.typingProgress ul{
  margin-bottom:.5em;
}
.passageTitle{
  font-size: .8em;
  font-style: italic;
}
#TypingInput{
  max-width: 80%;
  box-sizing: border-box;
  font-size: 2em;
  text-align: center;
}
.gameFinishedDialogue button{
  padding: 1em;
  font-size: .8em;
  margin-left: 1em;
  width: 8em;
  height: 4em;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
